/* vietnamese */
@font-face {
  font-family: "Josefin Sans";
  font-style: normal;
  font-weight: 400;
  src: url(https://fonts.gstatic.com/s/josefinsans/v17/Qw3PZQNVED7rKGKxtqIqX5E-AVSJrOCfjY46_DjQbMlhLzTs.woff2)
    format("woff2");
  unicode-range: U+0102-0103, U+0110-0111, U+0128-0129, U+0168-0169, U+01A0-01A1,
    U+01AF-01B0, U+1EA0-1EF9, U+20AB;
}
/* latin-ext */
@font-face {
  font-family: "Josefin Sans";
  font-style: normal;
  font-weight: 400;
  src: url(https://fonts.gstatic.com/s/josefinsans/v17/Qw3PZQNVED7rKGKxtqIqX5E-AVSJrOCfjY46_DjQbMhhLzTs.woff2)
    format("woff2");
  unicode-range: U+0100-024F, U+0259, U+1E00-1EFF, U+2020, U+20A0-20AB,
    U+20AD-20CF, U+2113, U+2C60-2C7F, U+A720-A7FF;
}
/* latin */
@font-face {
  font-family: "Josefin Sans";
  font-style: normal;
  font-weight: 400;
  src: url(https://fonts.gstatic.com/s/josefinsans/v17/Qw3PZQNVED7rKGKxtqIqX5E-AVSJrOCfjY46_DjQbMZhLw.woff2)
    format("woff2");
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA,
    U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215,
    U+FEFF, U+FFFD;
}

#galvene {
  display: flex;
  justify-content: center;
}

.gPoga,
.virsraksts {
  position: relative;
  font-family: "Josefin Sans";
  color: #0e402d;
}

.gPoga {
  font-weight: 100;
  font-size: 22px;
  line-height: 36px;
  letter-spacing: 0.185cm;
  margin: 0px 30px;
  height: 50px;
  background: transparent;
  border: 0px;
}

.virsraksts {
  font-weight: 700;
  font-size: 36px;
  line-height: 55px;
  margin: 0px;
}

#cukurins {
  height: 15%;
}

#footerhp {
  align-items: center;
  justify-content: center;
  font-family: Rubik;
}

#mekpecrek {
  display: flex;
  background-color: #004f2d;
  margin: 0 10%;
  text-align: center;
  width: 80%;
  height: 200px;
  flex-direction: column;
}

#rekvP {
  color: #ffffff;
  font-weight: 500;
  font-size: 30px;
  align-items: center;
}

#mekpecrekvirsraksts {
  padding: 25px 0 50px 0;
}

#meklesanarek {
  width: 35%;
  height: 35px;
  border-radius: 10px;
}

#izvelerek {
  width: 15%;
  height: 40px;
  border-radius: 10px;
}

#meklesanarek:active {
  outline: none;
}
