html {
    width: 100%;
}

header {
    display: flex;
    justify-content: center;
}

#galvene {
    margin-top: 1%;
    display: flex;
    justify-content: center;
}

#poga1 {
    position: relative;
    font-family: "Josefin Sans";
    color: #0e402d;
    font-weight: 100;
    font-size: 22px;
    line-height: 36px;
    letter-spacing: 0.185cm;
    margin: 0px 30px;
    height: 50px;
    background: transparent;
    border: 0px;
}

#nosaukums {
    position: relative;
    font-family: "Josefin Sans";
    color: #0e402d;
    font-size: 36px;
    line-height: 55px;
    margin: 0px;
}

section {
    float: left;
    background-color: #004F2D;
    width: 40%;
    margin-top: 20px;
}

#attels {
    margin-left: 90px;
    margin-top: 40px;
    margin-bottom: 15px;
}

aside {
    float: right;
    width: 60%;
    margin-top: 30px;
}

h1 {
    margin-top: 1%;
    font-weight: normal;
    font-size: 26px;
    width: 400px;
    height: 30px;
    margin-left: 50px;
}

h2 {
    margin-top: 6%;
    font-weight: normal;
    font-size: 26px;
    width: 120px;
    margin-left: 50px;
}

#teksts {
    margin-top: 3%;
    font-size: 20px;
    width: 500px;
    height: 100px;
    margin-left: 60px;
}

#car {
    margin-top: 1%;
    font-size: 20px; 
    padding: 5px; 
    margin-left: 50px;
    display: inline-block;
    vertical-align: top;
    width: 230px;
    height: 150px;
}

#teksts1 {
    margin-top: 0px;
    font-size: 20px;
    display: inline-block;
}